@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

body{
    font-family: 'Poppins', sans-serif;;
}

.navbar-nav a{
    font-size: 18px;
}

.background_img{
    background: center;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.product_card{
    transition: all 0.5s ease;
}

.product_card:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 1px 1px 1px gray;
}

.about_image img{
border-radius: 35px;
}

form{
    box-shadow: 0px 1px 1px 2px rgb(166, 236, 241);
    border-radius: 22px;
    padding: 25px;
}
form input{
    display: block;
    max-width: 50vw;
}